<html>
	<head>
		<title> My Profile</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<style>
		img {border-radius: 50%;}
		.container-fluid{
			padding-top: 50px;
			padding-bottom: 70px;
		}

		</style>
	</head>
	
	<body style = "height:800px ; width:1500px;background-color:white">
		<div id="outerbody" style = "height:800px ; width:1000px; background-color:#196f3d; margin:0 auto">
			<div id="header" style = "background-color:##196f3d;height:39px;">
				<div class="btn-group" role="group" aria-label="Basic example">
					<a href= / type="button" class="btn btn-secondary" style="background-color:#196f3d">Home</a>
					<a href= page2 type="button" class="btn btn-secondary" style="background-color:#196f3d">About Fasilkom</a>	
					<a href= page3 type="button" class="btn btn-secondary" style="background-color:#196f3d">Registration Form</a>
</div>
			</div>
			
			<div id ="bodyCountainer" style="background-color:#27ae60;float:left;width:1000px;height:800px">
			<form id="form" method="GET">
	        	{% csrf_token %}
	          {{ addproject_form.as_p }}


				<input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
			</form>
			</div>
				
			</div>
		
		</div>
	
	</body>


</html>